:root {
  --background-element-color: rgba(0, 0, 0, 0.1);
  --selection-area-color: rgba(100, 108, 255, 0.14);
  --disabled-color: #e2e2e2;
  --node-background-color: #ffffff;
  --node-border-radius: 2px;
  --node-border-color: rgba(60, 60, 67, 0.36);
  --node-selected-border-color: #3451b2;
  --node-color: rgba(60, 60, 67, 0.78);
  --node-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --connection-color: rgba(60, 60, 67, 0.78);
  --snap-connection-color: rgba(60, 60, 67, 0.38);
  --connection-gradient-1: #b8272c;
  --connection-gradient-2: #30a46c;
  --outlet-color: #3451b2;
  --input-output-color: rgba(60, 60, 67, 0.78);
  --minimap-background-color: #ffffff;
  --minimap-node-color: rgba(60, 60, 67);
  --minimap-node-selected-color: #3451b2;
  --minimap-view-color: rgba(100, 108, 255, 0.14);
}
